.product{
    display: flex;
    border-bottom: 1px solid lime;
    margin-bottom: 10px;
     margin-right: 20px;
     padding-bottom: 10px;
}

.product-name{
    color: mediumslateblue;
    font-weight: lighter;
    margin-left: 30px;
}

.para{
padding-left: 30px;
color: maroon;
}

.main-button{
    background-color: goldenrod;
    height: 30px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;

}